{% extends "base.html" %}

{% block content %}
{% load i18n %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}

<h1 class="my-4">
{% trans 'Folks' %}
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>{% trans 'Username' %}</th>
      <th>{% trans 'Full name' %}</th>
      <th>{% trans 'Joined at' %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.first_name }} {{ user.last_name }}</td>
        <td>{{ user.date_joined }}</td>
        <td>
          <a href="{% url 'user_update' pk=user.id %}">{% trans 'Update' %}</a>
          <br>
          <a href="{% url 'user_delete' pk=user.id %}">{% trans 'Delete' %}</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}