{% extends "base.html" %}
{% load i18n %}
{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-info" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}

<h1 class="my-4"> </h1>
<h1 class="my-4"></h1>
<div class="card">
  <div class="card-body p-5 bg-light">
    <div class="display-4">{% trans 'Greetings, traveller' %}...</div>
    <p class="lead">{% trans 'You see the task manager, created as study project' %}</p>
    <hr>
    <a class="btn btn-primary btn-lg" href="https://vk.com/id13903049">{% trans 'Developers link' %}</a>
  </div>
</div>
{% endblock %}
